Repository chef/omnibus-software, pull requests merged in 2024-04, with the labels that each got.

#1888 Added v2.41.0 git-windows
  config/software/git-windows.rb
Labels: Expeditor: Bump Version Minor

#1887 Added libxml2 v2.12.5
  config/software/libxml2.rb
Labels: Expeditor: Bump Version Minor

#1890 update major version
  VERSION
Labels: Expeditor: Bump Version Minor

#1891 bump major version
  CHANGELOG.md
Labels: Expeditor: Bump Version Major

#1897 Remove - from -enable_fips
  config/software/openssl.rb
Labels: Expeditor: Skip All
